*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: rgb(32, 35, 41);
  font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

#hero {
  background: #f5f5f5;
  font-size: 3rem;
  padding: 20px;
  height: auto;
  text-align: center;
}

.people {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  background: #3d3e44;
  border-color: white;
  border-radius: 10px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: grid;
}

.text {
  padding: 0.75em;
  display: grid;
}

.text * {
  margin: 0;
}

.people img {
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  height: 14em;
  width: 14em;
}

a {
  text-decoration: none;
  color: white;
}

.image img {
  height: 40px;
  width: 80px;
}

.navbar {
  background: #f5f5f5;
}

.navbar a {
  color: #333333;
}

.nav-style {
  list-style-type: none;
  display: inline-block;
  color: rgb(51, 51, 51);
  float: right;
}

.nav-style li {
  display: inline-block;
}

h3 {
  color: rgb(158, 158, 158);
}

p {
  color: white;
}
